<!DOCTYPE html>
<!-- This website templte  was created by Ufoma Odufejo-->
<html lang="en">
    <head>
        <title>Ufoma Odufejo</title>
        <meta charset="utf-8">
    </head>
    <body>
<!-- Use the header for the websites logo and navigation system-->
        <header>
<!-- Use the nav to add hyperlinks to other pages within the website-->
            <img src="" width="" height=""/>
            <nav>

                <a href="">About me &nbsp; &nbsp;</a>

                <a href="">Contact &nbsp; &nbsp;</a>

                <a href="">Portfolio &nbsp; &nbsp;</a>

                <a href="">Services &nbsp; &nbsp;</a>

                <a href="">Resume &nbsp; &nbsp;</a>

                <a href="">Testimonials &nbsp; &nbsp;</a>

            </nav>

        </header>
<!-- Use the main area to add the main content of the webpage-->
        <main>
            <div>
            <p>Hello! I’m Ufoma Odufejo,</p>
            <p>a dedicated web developer with a passion for crafting modern, intuitive web applications.</p>
            <p>With a strong background in front-end technologies and a knack for innovative design,</p>
            <p>I aim to help businesses and individuals achieve their digital goals through robust and reliable web solutions.</p>
            </div>
            
        </main>
<!-- Use the footer area to add the webpages footer contents-->
        <footer>

            &copy; Copyright 2024. All rights reserved. <br>
            ufomaodufejo.com

        </footer>

    </body>
</html>